* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Poppins', sans-serif; */
}
#menu-icon {
  display: none;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-section {
  background-image: url("images/desktop/image-header.jpg");
  background-size: cover;
  background-position: center 30%;
  background-repeat: no-repeat;

  padding: 20px 40px 200px;
}
nav ul,
nav a {
  text-decoration: none;
  list-style: none;
  display: flex;
  margin: 10px 15px;
  color: hsl(0, 100%, 100%);
  font-family: "Barlow", sans-serif;
  font-weight: 600;
}
.contact-btn {
  /* border: 2px solid hsl(0, 100%, 100%); */
  color: hsl(212, 27%, 19%);
  padding: 12px;
  border-radius: 25px;
  margin: 0px 10px;
  background-color: hsl(0, 100%, 100%);
  font-family: "Fraunces", sans-serif;
}
.contact-btn:hover {
  background: rgba(255, 255, 255, 0.5); /* Semi-transparent white */
  -webkit-backdrop-filter: blur(10px); /* Safari/iOS support */
  backdrop-filter: blur(10px); /* The blur effect */
  border-radius: 25px; /* Rounded corners */
  color: hsl(0, 100%, 100%);
  transition: all 0.3s ease-in-out;
}

h1 {
  margin: 50px auto;
  text-align: center;
  font-family: "Fraunces", sans-serif;
  font-weight: 900;
  color: hsl(0, 100%, 100%);
}
.down-arrow {
  display: flex;
  justify-content: center;
  margin-top: 90px;
}

.what-we-do {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.transform img,
.stand-out img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; /*Removes the small gap that appears below inline images*/
  max-width: 100%; /* Prevents overflow */
}
.text-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h2 {
  font-family: "Fraunces", sans-serif;
  font-weight: 900;
  margin-bottom: 20px;
  color: hsl(212, 27%, 19%);
  max-width: 270px;
}
.text-block p {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  color: hsl(213, 9%, 39%);
  max-width: 400px;
  margin-bottom: 20px;
}
.text-block a {
  text-decoration: none;
  font-family: "Fraunces", sans-serif;
  font-weight: 500;
  color: hsl(212, 27%, 19%);
  line-height: 0.5;
  border-radius: 2px;
}
.learn-one {
  border-bottom: 7px solid hsla(51, 100%, 49%, 0.4);
}
.learn-one:hover {
  padding: 0 5px;
  border-bottom: 7px solid hsl(51, 100%, 49%);
  transition: all 0.3s ease-in-out;
}
.learn-two {
  border-bottom: 7px solid hsla(7, 99%, 70%, 0.4);
}
.learn-two:hover {
  padding: 0 5px;
  border-bottom: 7px solid hsl(7, 99%, 70%);
  transition: all 0.3s ease-in-out;
}
.cherry-pick p,
.orange-pick p {
  max-width: 350px;
}
.cherry-pick h2,
.orange-pick h2 {
  margin-top: 300px;
}
.cherry-pick {
  background-image: url("images/desktop/image-graphic-design.jpg");
  background-size: cover;
  background-position: center 10%;
  background-repeat: no-repeat;
  height: 92vh;
}
.orange-pick {
  background-image: url("images/desktop/image-photography.jpg");
  background-size: cover;
  background-position: center 10%;
  background-repeat: no-repeat;
  height: 92vh;
}
h3 {
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  color: hsl(210, 4%, 67%);
  margin: 100px 0 30px;
  text-align: center;
  letter-spacing: 5px;
}

.testimonials {
  display: flex;
  margin: 50px 0;
  justify-content: space-evenly;
}
.testimonial {
  text-align: center;
}
.testimonial img {
  border-radius: 50%;
  height: 30%;
  margin: 0 auto 20px;
  object-fit: cover;
  display: block; /*Removes the small gap that appears below inline images*/
  max-width: 100%; /* Prevents overflow */
}
.testimonial p {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  color: hsl(213, 9%, 39%);
  max-width: 310px;
}
h4 {
  font-family: "Fraunces", sans-serif;
  font-weight: 900;
  color: hsl(212, 27%, 19%);
  margin: 50px 0 10px;
  text-align: center;
}
.testimonial span {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  color: hsl(210, 4%, 67%);
}
.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; /*Removes the small gap that appears below inline images*/
  max-width: 100%; /* Prevents overflow */
}
footer {
  background-color: hsl(167, 34%, 41%);
  padding: 50px 40px;
  text-align: center;
}
.footer-nav ul,
.footer-nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(167, 40%, 24%);
  margin-bottom: 30px;
  gap: 50px;
}
.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  gap: 50px;
}
.footer-nav a:hover {
  color: hsl(0, 100%, 100%);
}
.social-icons a:hover {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%)
    hue-rotate(93deg) brightness(103%) contrast(103%);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media (max-width: 768px) {
  .header-section {
    padding: 20px 10px 200px;
  }
  .text-block p {
    padding: 0 20px;
  }
  .cherry-pick,
  .orange-pick {
    padding-bottom: 50px;
  }
  .testimonials {
    padding: 0 5px;
    gap: 30px;
  }
  .thomas {
    margin-top: 26px; /* because of space, thomas' name goes lower than others*/
  }
}
@media (max-width: 426px) {
  #menu-icon {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 22px;
  }
  .header-section nav {
    display: none;
    position: absolute;
    margin-top: 430px; /* Below the header */
    left: 50%;
    transform: translateX(-50%); /* Centers horizontally */
    width: 85%;
    max-width: 400px;
    z-index: 10001;
  }
  .header-section nav li {
    max-width: 150px;
    margin: 0 auto;
  }
  .header-section nav::before {
    content: "";
    position: absolute;
    top: -20px; /* Positions it above the menu */
    right: 0; /* Distance from right edge */
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-bottom: 20px solid white; /* Points upward, matches nav background */
  }
  .header-section nav.menu-open {
    display: block;
  }
  .header-section nav ul {
    flex-direction: column;
    background-color: hsl(0, 100%, 100%);
    padding: 50px;
    gap: 20px;
    text-align: center;
    list-style: none;
    margin: 0;
    position: relative; /* Ensures ul is the reference point */
  }
  nav a {
    color: hsl(232, 10%, 55%);
    text-decoration: none;
    display: block;
  }
  .contact-btn {
    color: hsl(212, 27%, 19%);
    background-color: hsl(51, 100%, 49%);
  }
  .what-we-do {
    grid-template-columns: 1fr;
  }
  .testimonials {
    flex-direction: column;
    margin: 50px 0;
    justify-content: space-evenly;
  }

  .text-block {
    padding: 40px 0;
  }
  h2 {
    text-align: center;
    letter-spacing: 2px;
  }
  .text-block p {
    text-align: center;
    max-width: 330px;
  }
  .learn-one,
  .learn-two {
    padding-top: 20px;
  }
  .cherry-pick,
  .orange-pick {
    padding-bottom: 100px;
  }
  .cherry-pick p,
  .orange-pick p {
    max-width: 380px;
  }
  h3 {
    margin-top: 50px;
  }
  .testimonial img {
    width: 20%;
  }
  .testimonials p {
    margin: 0 auto;
    max-width: 290px;
  }
  h4 {
    margin-top: 25px;
  }
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 200px;
  }
}
